# Build output
build/

# Git
ReadMe.md
LICENSE
ChangeLog.md
.gitignore.old

# VSCode
.vscode

# C51
*.rel
*.lst
*.sym
*.asm
*.adb
*.cdb
*.rst
*.map
*.lk
*.ihx
*.hex
C51/
artifacts
doc
examples

# OS
.DS_Store
Thumbs.db
desktop.ini

# Claude
.claude